@import 'reset'
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic-ext')
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900')


$bgc: #CD7F41
$text_color_brown: #7D4011
$text_color_brown_light: #874614
$text_color_white: #fafafa
$bgc_light_brown: #FBE6D5
$yellow: #FBF285
$btnc: #DC3C18
$btnch: #CD3817

body
	font-family: roboto, tahoma, verdana
	overflow: hidden


// ########  #######  ##     ##    ###    ########
//    ##    ##     ## ###   ###   ## ##      ##
//    ##    ##     ## #### ####  ##   ##     ##
//    ##    ##     ## ## ### ## ##     ##    ##
//    ##    ##     ## ##     ## #########    ##
//    ##    ##     ## ##     ## ##     ##    ##
//    ##     #######  ##     ## ##     ##    ##

.tomato_container
	position: absolute
	transform: translate(-200px,-200px) rotateZ(180deg)
	transition: all 10s ease
	z-index: 1000

.fly 
	animation: fly_tomato 28s infinite linear

@keyframes fly_tomato
	0%
		transform: translate(-200px,-200px)
	// 50%	
	// 	transform: rotateZ(180deg)
	25%
		transform: translate(2000px, 700px) rotateZ(180deg)

	50%
		transform: translate(2000px, -200px)

	75%	
		transform: translate(-200px, 700px) rotateZ(-180deg)

.bloody
	opacity: 0
	position: fixed
	display: block
	width: 100%
	height: 100vh
	background-image: url(../img/tomato/blood.png)
	background-position: center center
	background-size: contain
	background-repeat: no-repeat
	

// ##     ## ########      ##     ## ########    ###    ########  ######## ########
// ##     ## ##     ##     ##     ## ##         ## ##   ##     ## ##       ##     ##
// ##     ## ##     ##     ##     ## ##        ##   ##  ##     ## ##       ##     ##
// ##     ## ########      ######### ######   ##     ## ##     ## ######   ########
// ##     ## ##            ##     ## ##       ######### ##     ## ##       ##   ##
// ##     ## ##        ### ##     ## ##       ##     ## ##     ## ##       ##    ##
//  #######  ##        ### ##     ## ######## ##     ## ########  ######## ##     ##

.up_header_container
	padding: 10px 0px 9px
	width: 100%
	text-align: center
	background-color: $bgc
	position: relative
	box-shadow: 0px 2px 10px gray
	z-index: 100

.up_header_logo,
.up_header_phone,
.up_header_btn
	display: inline-block
	position: relative
	vertical-align: middle

.up_header_logo
	background-image: url(../img/header/logo_celina2.png)
	background-repeat: no-repeat
	background-size: contain
	background-position: center center
	height: 38px
	width: 70px
	margin-right: 100px
	@media only screen and (max-width: 500px)
		margin-right: 0px

.up_header_phone
	color: $text_color_white
	font-weight: 500
	text-align: center
	margin-right: 10px
	@media only screen and (max-width: 400px)
		display: block
		margin: 0

.up_header_btn
	color: $text_color_brown
	background-color: $bgc_light_brown
	padding: 7px 15px
	border-radius: 10px


.push	
	cursor: pointer
	position: relative
	transition: all .2s ease
	&:active
		box-shadow: inset 0px 2px 6px rgba($text_color_brown, .5)
		top: 2px
	&:hover
		background-color: $btnch
		color: white


// ##     ## ########    ###    ########  ######## ########
// ##     ## ##         ## ##   ##     ## ##       ##     ##
// ##     ## ##        ##   ##  ##     ## ##       ##     ##
// ######### ######   ##     ## ##     ## ######   ########
// ##     ## ##       ######### ##     ## ##       ##   ##
// ##     ## ##       ##     ## ##     ## ##       ##    ##
// ##     ## ######## ##     ## ########  ######## ##     ##

.header_container
	height: 780px
	width: 100%
	background-image: url(../img/header/header_background_2.jpg)
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	padding-top: 30px
	text-align: center
	position: relative
	@media only screen and (max-width: 1600px)
		height: auto
		padding-bottom: 30px
	@media only screen and (max-width: 500px)
		padding-top: 10px

	//display: none
	

.header_container_title
	text-align: center
	color: $text_color_brown
	font-size: 50px
	p
		font-weight: 300
		margin-top: -5px

.header_img
	display: inline-block
	height: 800px
	width: 900px
	position: absolute
	left: 250px
	top: 100px
	@media only screen and (max-width: 1800px)
		left: 100px
	@media only screen and (max-width: 1600px)
		margin: 0 auto
		left: 100px
	@media only screen and (max-width: 1500px)	
		left: 0px
	@media only screen and (max-width: 1300px)
		left: -50px
		width: 800px
	@media only screen and (max-width: 1200px)	
		width: 700px
		left: 0px
	@media only screen and (max-width: 1100px)
		left: -50px
	@media only screen and (max-width: 900px)	
		width: 110%
		height: auto
		position: relative
		background-size: contain
		background-position: center center
		left: -30px
		top: 0px
	@media only screen and (max-width: 500px)
		left: 0px




.header_price_tag
	font-size: 45px
	font-weight: 300
	background-color: $yellow
	color: $text_color_brown
	display: inline-block
	padding: 5px 10px
	border-radius: 10px
	.rouble
		position: relative
		font-weight: 300
		left: -2px

.header_price_tag_position		
	position: absolute
	left: 880px 
	top: 180px
	z-index: 1000
	vertical-align: top
	@media only screen and (max-width: 1800px)
		left: 780px
	@media only screen and (max-width: 1600px)
		position: relative
		display: inline-block
		margin-top: 10px
		margin: 0px auto	
		left: 0px
		top: 0px


.header_order_form_container
	position: absolute
	top: 140px
	.char_form_container
		background-color: white
		&:hover
			background-color: white
		@media only screen and (max-width: 500px)	
			margin-top: 10px
			width: 95%
			margin-bottom: 10px


.header_order_form_container,
.countdown_container
	position: absolute
	left: 60%
	@media only screen and (max-width: 1600px)
		position: relative
		left: 400px
		top: 0px
	@media only screen and (max-width: 1300px)	
		left: 300px
	@media only screen and (max-width: 900px)	
		left: 0px
	

.header_order_form_title
	color: $text_color_brown
	font-size: 30px
	line-height: 25px
	p
		font-weight: 300
		small
			font-weight: 300
			position: relative

		strong
			font-weight: 400



//  ######   #######  ##     ## ##    ## ######## ########   #######  ##      ## ##    ##
// ##    ## ##     ## ##     ## ###   ##    ##    ##     ## ##     ## ##  ##  ## ###   ##
// ##       ##     ## ##     ## ####  ##    ##    ##     ## ##     ## ##  ##  ## ####  ##
// ##       ##     ## ##     ## ## ## ##    ##    ##     ## ##     ## ##  ##  ## ## ## ##
// ##       ##     ## ##     ## ##  ####    ##    ##     ## ##     ## ##  ##  ## ##  ####
// ##    ## ##     ## ##     ## ##   ###    ##    ##     ## ##     ## ##  ##  ## ##   ###
//  ######   #######   #######  ##    ##    ##    ########   #######   ###  ###  ##    ##

/* Contdonwn */

.countdown_container
	top: 480px
	@media only screen and (max-width: 1600px)
		top: 0px

.countdown_title
	color: $text_color_brown
	font-size: 30px
	position: relative
	left: -50px
	top: 15px
	background-color: rgba(white, .8)
	display: inline-block
	padding: 5px 20px
	border-radius: 10px
	@media only screen and (max-width: 1600px)
		left: 0px
	@media only screen and (max-width: 500px)
		font-size: 20px

.timer
	margin: 0 auto
	text-align: center
	width: 500px
	height: 120px
	position: relative
	left: -50px
	@media only screen and (max-width: 1600px)
		left: 0px
		width: 100%
	

#CDT 
	font-size: 60px
	color: #eee
	margin: 30px 0 0px
	font-weight: bold
	@media only screen and (max-width: 900px)
		width: 100%
	@media only screen and (max-width: 500px)
		margin-top: 10px


#CDT .number-wrapper 
	margin: 10px
	position: relative
	@media only screen and (max-width: 1100px)
		width: 100%


#CDT .number 
	display: inline-block
	background: white
	padding: 0 12px
	height: 80px
	color: $text_color_brown
	line-height: 80px
	border-radius: 50%
	text-align: center
	width: 100px
	height: 100px
	font-size: 45px
	border: 2px solid $text_color_brown
	@media only screen and (max-width: 500px)
		font-size: 20px
		height: 50px
		width: 50px
		line-height: 50px


		
#CDT .line 
	display: none

		
.caption 
	font-size: 17px
	font-weight: 300
	position: absolute
	top: 65px
	left: 0
	text-align: center
	width: 100%
	color: $text_color_brown
	@media only screen and (max-width: 500px)
		top: 75px
		font-size: 13px






// ######## ########    ###    ######## ##     ## ########  ########  ######
// ##       ##         ## ##      ##    ##     ## ##     ## ##       ##    ##
// ##       ##        ##   ##     ##    ##     ## ##     ## ##       ##
// ######   ######   ##     ##    ##    ##     ## ########  ######    ######
// ##       ##       #########    ##    ##     ## ##   ##   ##             ##
// ##       ##       ##     ##    ##    ##     ## ##    ##  ##       ##    ##
// ##       ######## ##     ##    ##     #######  ##     ## ########  ######

.features_container
	height: 600px
	background-image: url(../img/features/background.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center top
	text-align: center
	padding-top: 30px
	overflow: hidden
	position: relative
	box-shadow: 0px -2px 10px gray
	@media only screen and (max-width: 1530px)
		height: auto
		padding-top: 10px
		padding-bottom: 20px

.features_trigger
	width: 0px
	height: 500px
	position: absolute
	top: 0 
	left: 0
	@media only screen and (max-width: 1000px)
		top: -200px

.features_container_title
	font-size: 30px
	color: $text_color_brown
	border-bottom: 2px solid $text_color_brown
	display: inline-block
	padding: 10px
	@media only screen and (max-width: 800px)


.features_subtitle_text
	display: inline-block
	width: 700px
	margin-top: 30px
	margin-bottom: 60px
	padding: 0px 10px
	color: $text_color_brown
	@media only screen and (max-width: 800px)
		width: 100%
		margin-bottom: 30px
	@media only screen and (max-width: 500px)
		margin-bottom: 10px


.features_element
	display: inline-block
	width: 300px
	text-align: center
	vertical-align: top
	opacity: 0
	transform: translate(0px, 150px)
	transition: all .5s cubic-bezier(0.350, 0.375, 0.135, 1.345)
	@media only screen and (max-width: 900px)
		margin-top: 20px
	@media only screen and (max-width: 800px)	
		transform: translate(150px, 0px)
	@media only screen and (max-width: 310px)
		width: 100%

.features_element_img
	display: inline-block
	border-radius: 50%
	width: 150px
	height: 150px
	background-color: $text_color_brown
	text-align: center
	transition: all .3s ease
	&:hover
		background-color: $text_color_brown_light

	img
		display: inline-block
		vertical-align: middle
		transition: transform .5s ease
		margin-top: 27px


.rotate
	&:hover img
		transform: rotateY(180deg)

.features_element_title
	font-weight: 500
	color: $text_color_brown
	margin: 15px 0px 10px
	@media only screen and (max-width: 800px)
		margin: 5px 0px 5px
	
.features_element_text
	color: $text_color_brown


//  ######     ###    ##       ##       ########
// ##    ##   ## ##   ##       ##       ##     ##
// ##        ##   ##  ##       ##       ##     ##
// ##       ##     ## ##       ##       ########
// ##       ######### ##       ##       ##     ##
// ##    ## ##     ## ##       ##       ##     ##
//  ######  ##     ## ######## ######## ########

.callback_container
	background-color: $text_color_brown
	height: 70px
	width: 100%
	line-height: 70px
	text-align: center
	box-shadow: 0px 2px 10px gray, 0px -2px 10px gray
	z-index: 300
	@media only screen and (max-width: 1000px)
		height: auto
		line-height: 30px
		padding: 2px 0px
	@media only screen and (max-width: 500px)
		padding: 2px 0px 10px

.callback_text,
.callback_btn
	display: inline-block
	font-size: 20px
	font-weight: 300
	color: $text_color_white

.callback_btn
	background-color: $btnc
	padding: 10px 20px
	border-radius: 10px
	line-height: 20px
	margin-left: 30px
	font-size: 18px
	@media only screen and (max-width: 1000px)
		margin-left: 0px
	

// ########     ###    ######## ########   #######  ########
// ##     ##   ## ##        ##  ##     ## ##     ## ##     ##
// ##     ##  ##   ##      ##   ##     ## ##     ## ##     ##
// ########  ##     ##    ##    ########  ##     ## ########
// ##   ##   #########   ##     ##     ## ##     ## ##   ##
// ##    ##  ##     ##  ##      ##     ## ##     ## ##    ##
// ##     ## ##     ## ######## ########   #######  ##     ##

.razbor_container
	text-align: center
	padding-top: 30px
	position: relative
	@media only screen and (max-width: 650px)
		display: none
	.features_container_title
		margin-bottom: 30px

.razbor_trigger
	width: 0px
	height: 500px
	position: absolute
	top: 0 
	left: 0
	@media only screen and (max-width: 1000px)
		top: -200px

.razbor_container
	.header_price_tag
		margin-bottom: 30px

.razbor_container
	.callback_btn		
		margin: 30px 0px 30px


.razbor_img
	opacity: 0
	transition: all .8s cubic-bezier(0.350, 0.375, 0.135, 1.145)
	transform: scale(0)

// ##     ## #### ########  ########  #######
// ##     ##  ##  ##     ## ##       ##     ##
// ##     ##  ##  ##     ## ##       ##     ##
// ##     ##  ##  ##     ## ######   ##     ##
//  ##   ##   ##  ##     ## ##       ##     ##
//   ## ##    ##  ##     ## ##       ##     ##
//    ###    #### ########  ########  #######

.video_container_wrapper
	position: relative
	width: 100%
	background-color: white

.cucumber_trigger
	width: 0px
	height: 10px
	position: absolute
	top: 110px 
	left: 0
	@media only screen and (max-width: 1000px)
		top: -500px

.cucumber
	position: absolute
	opacity: 0
	transition: opacity 1s ease


#cu1
	top: 10px
	left: -50px

#cu2
	width: 300px
	top: 400px
	left: 87%

#cu3
	width: 400px
	top: 0px
	left: 67%

#cu4
	width: 400px
	top: 300px
	left: 3%

.video_container
	text-align: center
	margin: 60px auto 0px
	width: 800px
	height: 450px
	position: relative
	overflow: hidden
	box-shadow: 0px 0px 30px gray
	@media only screen and (max-width: 800px)
		width: 100%


.my_iframe
	@media only screen and (max-width: 800px)
		width: 100%
		height: 100%


iframe
	position: relative
	display: inline-block
	width: 740px
	height: 480px

// ########  ##        #######   ######  ##    ##  ######
// ##     ## ##       ##     ## ##    ## ##   ##  ##    ##
// ##     ## ##       ##     ## ##       ##  ##   ##
// ########  ##       ##     ## ##       #####     ######
// ##     ## ##       ##     ## ##       ##  ##         ##
// ##     ## ##       ##     ## ##    ## ##   ##  ##    ##
// ########  ########  #######   ######  ##    ##  ######

.blocks_container
	text-align: center
	margin-top: 30px
	position: relative
	@media only screen and (max-width: 1000px)
		padding: 0px 5px

.block_element
	width: 400px
	height: 257px
	display: inline-block
	opacity: 0
	transform: translate(0px, 200px) scale(.3)
	transition: all .8s cubic-bezier(0.350, 0.375, 0.135, 1.145)
	@media only screen and (max-width: 405px)
		width: 100%
		height: auto
		transform: translate(200px, 0px) scale(.5)
	img
		border-radius: 10px

.blocks_trigger
	width: 0px
	height: 10px
	position: absolute
	top: 110px 
	left: 0
	@media only screen and (max-width: 1000px)
		top: -500px



//  ######   #######  ##     ## ########  ##
// ##    ## ##     ## ###   ### ##     ## ##
// ##       ##     ## #### #### ##     ## ##
// ##       ##     ## ## ### ## ########  ##
// ##       ##     ## ##     ## ##        ##
// ##    ## ##     ## ##     ## ##        ##
//  ######   #######  ##     ## ##        ########


.complect_container
	text-align: center
	padding-top: 10px
	position: relative
	.features_container_title
		margin-top: 30px

.compl_element
	display: inline-block
	opacity: 0
	transform: translate(0px, 200px) scale(.3)
	transition: all .8s cubic-bezier(0.350, 0.375, 0.135, 1.145)
	&:hover
		transform: scale(1.05)
	@media only screen and (max-width: 450px)
		transform: translate(200px, 0px) scale(.5)

.complect_trigger
	width: 0px
	height: 500px 
	position: absolute
	top: 0 
	left: 0
	@media only screen and (max-width: 1000px)
		top: -300px


//  ######  ##     ##    ###    ########
// ##    ## ##     ##   ## ##   ##     ##
// ##       ##     ##  ##   ##  ##     ##
// ##       ######### ##     ## ########
// ##       ##     ## ######### ##   ##
// ##    ## ##     ## ##     ## ##    ##
//  ######  ##     ## ##     ## ##     ##

.char_container
	text-align: center
	background-image: url("../img/char/background2.jpg")
	background-repeat: no-repeat
	background-position: center top
	background-size: cover
	padding-top: 30px
	padding-bottom: 30px
	position: relative
	margin-top: 30px

.char_trigger
	width: 0px
	height: 500px 
	position: absolute
	top: 0 
	left: 0
	@media only screen and (max-width: 1000px)
		top: -300px


.char_element
	background-color: $text_color_brown
	border-radius: 10px
	text-align: center
	display: inline-block
	width: 200px
	height: 300px
	color: white
	margin: 30px 10px 
	vertical-align: top
	padding-top: 20px
	box-shadow: 0px 0px 35px rgba($text_color_brown, .6)
	opacity: 0
	transform: translate(0px, 200px) scale(.3)
	transition: all .8s cubic-bezier(0.350, 0.375, 0.135, 1.145)
	&:hover
		transform: scale(1.05)
		background-color: $text_color_brown_light
	@media only screen and (max-width: 450px)
		transform: translate(200px, 0px) scale(.5)

.char_element_text
	margin-top: 25px

.char_element_title
	font-size: 40px
	font-weight: 500
	margin-top: 20px

.char_element_title_small
	margin-top: 20px
	display: inline-block
	font-size: 20px
	font-weight: 300
	upper
		font-size: 14px
		position: relative
		top: -10px


// form ``````````````````````````````````````````````````````````````````````````````````````````````````````

.char_form_container
	background-color: rgba(white, .7)
	padding-top: 30px
	margin: 40px auto 20px
	border-radius: 10px
	height: auto
	padding-bottom: 40px
	width: 400px
	transition: background-color .3s ease
	@media only screen and (max-width: 410px)
		width: 97%
		margin: 40px 5px 20px 5px
	&:hover
		background-color: rgba(white, .9)
		.footer_form_btn
			transform: scale(1.05)	
	.header_price_tag
		margin-bottom: 10px
		background-color: #FBF285
	
.char_form_title
	font-size: 30px
	color: $text_color_brown
.char_form_subtitle
	color: $text_color_brown
	font-size: 20px
	margin-bottom: 10px

.footer_input
	width: 250px	
	border-radius: 10px	
	padding: 5px 10px
	margin-top: 10px
	font-size: 20px
	border: 1px solid $text_color_brown
	@media only screen and (max-width: 300px)
		width: 90%

.footer_form_btn
	margin-top: 30px
	font-size: 20px
	border-radius: 10px
	padding: 5px 10px
	background-color: #CD1414
	color: white
	border: 1px solid #EF3D3D


// ##     ##    ###    ########
// ###   ###   ## ##   ##     ##
// #### ####  ##   ##  ##     ##
// ## ### ## ##     ## ########
// ##     ## ######### ##
// ##     ## ##     ## ##
// ##     ## ##     ## ##


.map_container
	width: 100%
	height: auto
	text-align: center
	padding-bottom: 40px

.map_img_title
	text-align: center
	position: relative
	top: 50px
	font-size: 30px
	color: $text_color_brown
	@media only screen and (max-width: 500px)
		top: 10px

.map_img	
	display: block
	text-align: center
	img
		display: inline-block


.map_sites_table,
.map_quest
	display: inline-block
	vertical-align: top
	padding: 0px 20px

.map_sites_title
	font-size: 20px
	margin-bottom: 20px
	color: $text_color_brown	

.map_sites_table
	table
		tr
			td
				padding: 3px 20px
				text-align: left
				@media only screen and (max-width: 500px)
					width: 33%
					padding: 2px 5px
.map_quest
	position: relative
	top: 30px

.map_quest_text
	margin-bottom: 20px

.map_quest_title
	font-size: 20px
	margin-bottom: 20px
	color: $text_color_brown




// ########  #######   #######  ######## ######## ########
// ##       ##     ## ##     ##    ##    ##       ##     ##
// ##       ##     ## ##     ##    ##    ##       ##     ##
// ######   ##     ## ##     ##    ##    ######   ########
// ##       ##     ## ##     ##    ##    ##       ##   ##
// ##       ##     ## ##     ##    ##    ##       ##    ##
// ##        #######   #######     ##    ######## ##     ##
.footer
	.up_header_container
		height: 90px
		padding-top: 30px
		@media only screen and (max-width: 500px)
			padding-top: 15px
			


// ########  #######  ########  ##     ##     ##     ## #### ########
// ##       ##     ## ##     ## ###   ###     ##     ##  ##  ##     ##
// ##       ##     ## ##     ## #### ####     ##     ##  ##  ##     ##
// ######   ##     ## ########  ## ### ##     #########  ##  ##     ##
// ##       ##     ## ##   ##   ##     ##     ##     ##  ##  ##     ##
// ##       ##     ## ##    ##  ##     ## ### ##     ##  ##  ##     ##
// ##        #######  ##     ## ##     ## ### ##     ## #### ########

.form_hidden_wrapper
	z-index: 9999
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100vh
	background-color: rgba(white, .9)
	display: none

.form_hidden
	background-color: rgba(white, .7)
	border-radius: 10px
	height: auto
	padding-bottom: 40px
	width: 400px
	margin: auto
	text-align: center
	transition: background-color .3s ease
	position: relative
	@media only screen and (max-width: 410px)
		width: 97%
	&:hover
		background-color: rgba(white, .9)
		.footer_form_btn
			transform: scale(1.05)	
	.header_price_tag
		margin-bottom: 10px
		background-color: #FBF285

.close
	color: #666
	border: 1px solid lightgray
	padding: 5px 10px
	display: inline-block
	position: absolute
	border-radius: 10px
	top: 280px
	left: 4px
	&:active
		top: 282px




//  ######  ##     ##  ######   ######   ######
// ##    ## ##     ## ##    ## ##    ## ##    ##
// ##       ##     ## ##       ##       ##
//  ######  ##     ## ##       ##        ######
//       ## ##     ## ##       ##             ##
// ##    ## ##     ## ##    ## ##    ## ##    ##
//  ######   #######   ######   ######   ######

.succsess_wrapper
	display: none
	position: fixed
	width: 100%
	height: 100vh
	background-color: rgba(white, .7)
	top: 0
	left: 0
	z-index: 8999

.succses_container
	margin: 100px auto
	height: 330px
	position: relative
	width: 300px
	background-color: white
	border-radius: 10px
	border: 1px solid $text_color_brown
	text-align: center
	z-index: 8888
	@media only screen and (max-width: 310px)
		width: 90%
	.close
		left: calc(50% - 45px)
.succsess_title,
.succsess_text,
.succsess_ico
	display: inline-block
	color: $text_color_brown


.succsess_title
	font-size: 30px
	margin-top: 10px
.succsess_text
	font-size: 20px	
.succsess_ico
	margin: 30px auto



//    ###    ##    ## #### ##     ## ########
//   ## ##   ###   ##  ##  ###   ### ##
//  ##   ##  ####  ##  ##  #### #### ##
// ##     ## ## ## ##  ##  ## ### ## ######
// ######### ##  ####  ##  ##     ## ##
// ##     ## ##   ###  ##  ##     ## ##
// ##     ## ##    ## #### ##     ## ########

.show
	transform: translate(0px, 0px)
	transform: scale(1)
	opacity: 1

.show_form
	display: block

.succses_show
	display: block

.cucumber_show
	opacity: 1

.bloody_show
	opacity: 1
	z-index: 8989

.bloody_sweep
	transition: opacity 1s ease
	opacity: 0