@import 'reset'
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic-ext')
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900')


$bgc: #CD7F41
$text_color_brown: #7D4011
$text_color_white: #fafafa
$bgc_light_brown: #FBE6D5
$btnc: #DC3C18
$btnch: #CD3817

body
	font-family: roboto, tahoma, verdana
	overflow: hidden


// ########  #######  ##     ##    ###    ########
//    ##    ##     ## ###   ###   ## ##      ##
//    ##    ##     ## #### ####  ##   ##     ##
//    ##    ##     ## ## ### ## ##     ##    ##
//    ##    ##     ## ##     ## #########    ##
//    ##    ##     ## ##     ## ##     ##    ##
//    ##     #######  ##     ## ##     ##    ##

.tomato_container
	position: absolute
	transform: translate(-200px,-200px) rotateZ(180deg)
	transition: all 10s ease
	z-index: 1000

.fly
	transform: translate(2000px, 700px)	


// ##     ## ########      ##     ## ########    ###    ########  ######## ########
// ##     ## ##     ##     ##     ## ##         ## ##   ##     ## ##       ##     ##
// ##     ## ##     ##     ##     ## ##        ##   ##  ##     ## ##       ##     ##
// ##     ## ########      ######### ######   ##     ## ##     ## ######   ########
// ##     ## ##            ##     ## ##       ######### ##     ## ##       ##   ##
// ##     ## ##        ### ##     ## ##       ##     ## ##     ## ##       ##    ##
//  #######  ##        ### ##     ## ######## ##     ## ########  ######## ##     ##

.up_header_container
	padding: 10px 0px 9px
	width: 100%
	text-align: center
	background-color: $bgc
	position: relative
	box-shadow: 0px 2px 10px gray
	z-index: 100

.up_header_logo,
.up_header_phone,
.up_header_btn
	display: inline-block
	position: relative
	vertical-align: middle

.up_header_logo
	background-image: url(../img/header/logo_celina2.png)
	background-repeat: no-repeat
	background-size: contain
	background-position: center center
	height: 38px
	width: 70px
	margin-right: 100px
	@media only screen and (max-width: 500px)
		margin-right: 0px

.up_header_phone
	color: $text_color_white
	font-weight: 500
	text-align: center
	margin-right: 10px
	@media only screen and (max-width: 400px)
		display: block
		margin: 0

.up_header_btn
	color: $text_color_brown
	background-color: $bgc_light_brown
	padding: 7px 15px
	border-radius: 10px


.push	
	cursor: pointer
	position: relative
	transition: all .2s ease
	&:active
		box-shadow: inset 0px 2px 6px rgba($text_color_brown, .5)
		top: 2px
	&:hover
		background-color: $btnch
		color: white


// ##     ## ########    ###    ########  ######## ########
// ##     ## ##         ## ##   ##     ## ##       ##     ##
// ##     ## ##        ##   ##  ##     ## ##       ##     ##
// ######### ######   ##     ## ##     ## ######   ########
// ##     ## ##       ######### ##     ## ##       ##   ##
// ##     ## ##       ##     ## ##     ## ##       ##    ##
// ##     ## ######## ##     ## ########  ######## ##     ##

.header_container
	height: 780px
	width: 100%
	background-image: url(../img/header/header_background_2.jpg)
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	padding-top: 30px
	text-align: center
	position: relative


	//display: none
	

.header_container_title
	text-align: center
	color: $text_color_brown
	font-size: 30px
	p
		font-weight: 300

.header_img
	display: inline-block
	background-image: url(../img/header/header_img.png)
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	height: 600px
	width: 700px
	position: absolute
	left: 300px
	@media only screen and (max-width: 1000px)
		width: 100%

.header_price_tag
	font-size: 30px
	background-color: #FEE517
	color: $text_color_brown
	display: inline-block
	padding: 5px 10px
	border-radius: 10px
	.rouble
		position: relative
		left: -2px

.header_price_tag_position		
	position: absolute
	left: 800px 
	top: 200px
	@media only screen and (max-width: 1000px)
		left: 0

.header_order_form_container
	position: absolute
	width: 300px
	height: 400px
	background-color: $text_color_white
	padding-top: 20px
	top: 100px
	left: 1100px
	box-shadow: 0px 0px 15px gray

.header_order_form_title
	color: $text_color_brown
	font-size: 30px
	line-height: 25px
	p
		font-weight: 300
		small
			font-weight: 300
			position: relative

		strong
			font-weight: 400


// ######## ########    ###    ######## ##     ## ########  ########  ######
// ##       ##         ## ##      ##    ##     ## ##     ## ##       ##    ##
// ##       ##        ##   ##     ##    ##     ## ##     ## ##       ##
// ######   ######   ##     ##    ##    ##     ## ########  ######    ######
// ##       ##       #########    ##    ##     ## ##   ##   ##             ##
// ##       ##       ##     ##    ##    ##     ## ##    ##  ##       ##    ##
// ##       ######## ##     ##    ##     #######  ##     ## ########  ######

.features_container
	height: 600px
	background-image: url(../img/features/background.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center top
	text-align: center
	padding-top: 30px
	overflow: hidden
	position: relative
	box-shadow: 0px -2px 10px gray
	@media only screen and (max-width: 1530px)
		height: auto
		padding-top: 10px
		padding-bottom: 20px

.features_trigger
	width: 0px
	height: 500px
	position: absolute
	top: 0 
	left: 0
	@media only screen and (max-width: 1000px)
		top: -200px

.features_container_title
	font-size: 30px
	color: $text_color_brown
	border-bottom: 2px solid $text_color_brown
	display: inline-block
	padding: 10px
	@media only screen and (max-width: 800px)


.features_subtitle_text
	display: inline-block
	width: 700px
	margin-top: 30px
	margin-bottom: 60px
	padding: 0px 10px
	color: $text_color_brown
	@media only screen and (max-width: 800px)
		width: 100%
		margin-bottom: 30px
	@media only screen and (max-width: 500px)
		margin-bottom: 10px


.features_element
	display: inline-block
	width: 300px
	text-align: center
	vertical-align: top
	opacity: 0
	transform: translate(0px, 150px)
	transition: all .5s cubic-bezier(0.350, 0.375, 0.135, 1.345)
	@media only screen and (max-width: 900px)
		margin-top: 20px
	@media only screen and (max-width: 800px)	
		transform: translate(150px, 0px)
	@media only screen and (max-width: 310px)
		width: 100%

.features_element_img
	display: inline-block
	border-radius: 50%
	width: 150px
	height: 150px
	background-color: $text_color_brown
	text-align: center

	img
		display: inline-block
		vertical-align: middle
		transition: transform .5s ease
		margin-top: 10px


.rotate
	&:hover img
		transform: rotateY(180deg)

.features_element_title
	font-weight: 500
	color: $text_color_brown
	margin: 15px 0px 10px
	@media only screen and (max-width: 800px)
		margin: 5px 0px 5px
	
.features_element_text
	color: $text_color_brown


//  ######     ###    ##       ##       ########
// ##    ##   ## ##   ##       ##       ##     ##
// ##        ##   ##  ##       ##       ##     ##
// ##       ##     ## ##       ##       ########
// ##       ######### ##       ##       ##     ##
// ##    ## ##     ## ##       ##       ##     ##
//  ######  ##     ## ######## ######## ########

.callback_container
	background-color: $text_color_brown
	height: 70px
	width: 100%
	line-height: 70px
	text-align: center
	box-shadow: 0px 2px 10px gray, 0px -2px 10px gray
	z-index: 300
	@media only screen and (max-width: 1000px)
		height: auto
		line-height: 30px
		padding: 2px 0px
	@media only screen and (max-width: 500px)
		padding: 2px 0px 10px

.callback_text,
.callback_btn
	display: inline-block
	font-size: 20px
	font-weight: 300
	color: $text_color_white

.callback_btn
	background-color: $btnc
	padding: 10px 20px
	border-radius: 10px
	line-height: 20px
	margin-left: 30px
	font-size: 18px
	@media only screen and (max-width: 1000px)
		margin-left: 0px
	

// ########     ###    ######## ########   #######  ########
// ##     ##   ## ##        ##  ##     ## ##     ## ##     ##
// ##     ##  ##   ##      ##   ##     ## ##     ## ##     ##
// ########  ##     ##    ##    ########  ##     ## ########
// ##   ##   #########   ##     ##     ## ##     ## ##   ##
// ##    ##  ##     ##  ##      ##     ## ##     ## ##    ##
// ##     ## ##     ## ######## ########   #######  ##     ##

.razbor_container
	text-align: center
	padding-top: 30px
	position: relative
	@media only screen and (max-width: 650px)
		display: none
	.features_container_title
		margin-bottom: 30px

.razbor_trigger
	width: 0px
	height: 500px
	position: absolute
	top: 0 
	left: 0
	@media only screen and (max-width: 1000px)
		top: -200px

.razbor_container
	.header_price_tag
		margin-bottom: 30px

.razbor_container
	.callback_btn		
		margin: 30px 0px 30px


.razbor_img
	opacity: 0
	transition: all .8s cubic-bezier(0.350, 0.375, 0.135, 1.145)
	transform: scale(0)

// ##     ## #### ########  ########  #######
// ##     ##  ##  ##     ## ##       ##     ##
// ##     ##  ##  ##     ## ##       ##     ##
// ##     ##  ##  ##     ## ######   ##     ##
//  ##   ##   ##  ##     ## ##       ##     ##
//   ## ##    ##  ##     ## ##       ##     ##
//    ###    #### ########  ########  #######

.video_container
	text-align: center
	margin: 0px auto
	width: 900px
	height: 450px


iframe
	position: relative
	display: inline-block
	width: 740px
	height: 480px

// ########  ##        #######   ######  ##    ##  ######
// ##     ## ##       ##     ## ##    ## ##   ##  ##    ##
// ##     ## ##       ##     ## ##       ##  ##   ##
// ########  ##       ##     ## ##       #####     ######
// ##     ## ##       ##     ## ##       ##  ##         ##
// ##     ## ##       ##     ## ##    ## ##   ##  ##    ##
// ########  ########  #######   ######  ##    ##  ######

.blocks_container
	text-align: center
	margin-top: 30px
	position: relative
	@media only screen and (max-width: 1000px)
		padding: 0px 5px

.block_element
	width: 400px
	height: 257px
	display: inline-block
	opacity: 0
	transform: translate(0px, 200px) scale(.3)
	transition: all .8s cubic-bezier(0.350, 0.375, 0.135, 1.145)
	@media only screen and (max-width: 405px)
		width: 100%
		height: auto
		transform: translate(200px, 0px) scale(.5)
	img
		border-radius: 10px

.blocks_trigger
	width: 0px
	height: 10px
	position: absolute
	top: 110px 
	left: 0
	@media only screen and (max-width: 1000px)
		top: -500px



//  ######   #######  ##     ## ########  ##
// ##    ## ##     ## ###   ### ##     ## ##
// ##       ##     ## #### #### ##     ## ##
// ##       ##     ## ## ### ## ########  ##
// ##       ##     ## ##     ## ##        ##
// ##    ## ##     ## ##     ## ##        ##
//  ######   #######  ##     ## ##        ########


.complect_container
	text-align: center
	padding-top: 10px
	position: relative
	.features_container_title
		margin-top: 30px

.compl_element
	display: inline-block
	opacity: 0
	transform: translate(0px, 200px) scale(.3)
	transition: all .8s cubic-bezier(0.350, 0.375, 0.135, 1.145)
	&:hover
		transform: scale(1.05)
	@media only screen and (max-width: 450px)
		transform: translate(200px, 0px) scale(.5)

.complect_trigger
	width: 0px
	height: 500px 
	position: absolute
	top: 0 
	left: 0
	@media only screen and (max-width: 1000px)
		top: -300px


//  ######  ##     ##    ###    ########
// ##    ## ##     ##   ## ##   ##     ##
// ##       ##     ##  ##   ##  ##     ##
// ##       ######### ##     ## ########
// ##       ##     ## ######### ##   ##
// ##    ## ##     ## ##     ## ##    ##
//  ######  ##     ## ##     ## ##     ##

.char_container
	text-align: center
	background-image: url("../img/char/background.jpg")
	background-repeat: no-repeat
	background-position: center top
	background-size: cover
	padding-top: 30px
	position: relative

.char_trigger
	width: 0px
	height: 500px 
	position: absolute
	top: 0 
	left: 0
	@media only screen and (max-width: 1000px)
		top: -300px


.char_element
	background-color: $text_color_brown
	border-radius: 10px
	text-align: center
	display: inline-block
	width: 200px
	height: 300px
	color: white
	margin: 20px 10px 
	box-shadow: 0px 0px 35px rgba($text_color_brown, .6)
	opacity: 0
	transform: translate(0px, 200px) scale(.3)
	transition: all .8s cubic-bezier(0.350, 0.375, 0.135, 1.145)
	&:hover
		transform: scale(1.05)
	@media only screen and (max-width: 450px)
		transform: translate(200px, 0px) scale(.5)



.char_element_title_small
	display: inline-block


// ########  #######   #######  ######## ######## ########
// ##       ##     ## ##     ##    ##    ##       ##     ##
// ##       ##     ## ##     ##    ##    ##       ##     ##
// ######   ##     ## ##     ##    ##    ######   ########
// ##       ##     ## ##     ##    ##    ##       ##   ##
// ##       ##     ## ##     ##    ##    ##       ##    ##
// ##        #######   #######     ##    ######## ##     ##
.footer
	.up_header_container
		height: 90px
		padding-top: 30px




//    ###    ##    ## #### ##     ## ########
//   ## ##   ###   ##  ##  ###   ### ##
//  ##   ##  ####  ##  ##  #### #### ##
// ##     ## ## ## ##  ##  ## ### ## ######
// ######### ##  ####  ##  ##     ## ##
// ##     ## ##   ###  ##  ##     ## ##
// ##     ## ##    ## #### ##     ## ########

.show
	transform: translate(0px, 0px)
	transform: scale(1)
	opacity: 1
